---
css:
  - /styles/_header_footer.css
  - /styles/application.css
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="author" content=" ">
    <meta name="description" content=" ">
    <meta name="keywords" content=" ">

    {% if css %}
      {% for sheet in css %}
        <link rel="stylesheet" href="{{ sheet }}">
      {% endfor %}
    {% endif %}
    
  </head>

  <body>

    {# header #}
    <header id="navbar" class="flex-center">
      <div class="nav-wrapper full-width">

        <div class="nav-left flex-center">
          <h1 class="nav-header"><a href="/">{{ site.title }}</a></h1>
        </div>

        <div class="nav-right flex-center">
          {% for item in site.nav %}
            <a href="{{ item.url }}" class="nav-btn {% if page.url == item.url %}active{% endif %}">
              {{ item.label }}
            </a>
          {% endfor %}
        </div>

      </div>
    </header>

    {# body #}
    <div id="main">
      {{ content | safe }}
    </div>

    {# footer #}
    <footer id="footer" class="flex-center">
      <div class="foot-wrapper full-width">

        <div class="foot-left flex-center">  
          <p>{{ site.footer.text }}</p>
          {% for link in site.footer.links %}
            <a href="{{ link.url }}">{{ link.label }}</a>
          {% endfor %}
        </div>

        <div class="foot-right flex-center">
          <p>{{ site.footer.info }}</p>
        </div>

      </div>
    </footer>

  </body>
</html>