---
css:
  - /styles/_header_footer.css
  - /styles/application.css
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="author" content=" ">
    <meta name="description" content=" ">
    <meta name="keywords" content=" ">

    {% if css %}
      {% for sheet in css %}
        <link rel="stylesheet" href="{{ sheet }}">
      {% endfor %}
    {% endif %}
    
  </head>

  <body>

    {# header #}

    {# body #}
    <div id="main">
      {{ content | safe }}
    </div>

    {# footer #}

  </body>
</html>