---
title: title
layout: _layouts/headers_footers.njk
css:
  - /styles/_index.css
  - /styles/_project_card.css
permalink: "/"
---

{% for section in sections %}
  {% if section.type == "highlighted" %}
    {% include "_partials/project_highlighted.njk" %}
  {% elseif section.type == "about" %}
    {% include "_partials/about.njk" %}
  {% elseif section.type == "portfolio" %}
    {% include "_partials/projects_index.njk" %}
  {% endif %}
{% endfor %}