<div id="projects-container" class="main-section flex-center">
  <div class="projects-wrapper">
    {% for project in collections.project%}
      {# <a href="{{project.url}}"><p>{{ project.data.title }}</p></a> #}
      {% include "_partials/project_card.njk" %}
    {% endfor %}
  </div>
</div>