<div class="col-{{project.data.size}} pr-card">
  <a href="{{project.url}}">
    <img class="pr-pic" src="{{project.data.thumbnail | toWebp}}" alt="{{ project.data.imageAlt }}">
    <div class= "pr-body">
      <h2>{{ project.data.title }}</h2>
      <p class="pr-subtitle">{{ project.data.subtitle }}</p>
      <p class="pr-info">{{ project.data.info }}, {{ project.data.year }}</p>
    </div>
  </a>
</div>