// Header  Section//
#navbar {
  width: 100%;
  height: 20px;
  padding: 20px 0px;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
  background-color: rgb(255, 255, 255);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

#navbar a {
  text-decoration: none;
  color: var(--black-grey);
}

#navbar a:hover {
  text-decoration: underline;
  color: var(--purple-blue);
}

#navbar h1 {
  font-weight: 400;
  font-size: 26px;
}

.nav-right, .nav-left {
  gap: 40px;
}

.nav-header {
  margin: 0;
}

.nav-btn {
  display: inline;
  margin-top: 2px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

// Footer //
#footer {
  z-index: 1000;
  width: 100%;
  height: 20px;
  padding: 20px 0px;
  background-color: #eee;
  border-bottom: 3px solid #eee;
}

.foot-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  color: var(--black-grey);
}

.foot-left, .foot-right {
  margin-top: 6px;
  gap: 24px;
}

.foot-wrapper a:hover {
  text-decoration: underline;
}

  .foot-left p::after {
    content: " →";
  }

// Media queries

/* Vertical layouts */

@media (width <= 950px) {

  #navbar {
    height: fit-content;
    position: relative;
  }

  #navbar h1 {
    font-size: 1.25rem;
  }

  .nav-wrapper {
    flex-direction: column;
    gap: 12px;
  }

  .nav-left, .nav-right {
    justify-content: start !important;
  }

  .nav-right {
    gap: 5%;
  }

  .nav-btn {
    font-size: 1.1rem;
    text-decoration: underline !important;
  }

    #footer {
    height: fit-content;
  }

  .foot-wrapper {
    margin-top: 20px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  // .foot-wrapper a {
  //   text-decoration: underline;
  // }

  .foot-left, .foot-right {
    flex-direction: column;
    align-items: start !important;
    justify-content: right !important;
    gap: 12px;
    margin-top: 0;
  }

  .foot-right {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    padding-top: 30px;
  }

  .foot-left p {
    margin-top: 0;
  }

  .foot-left p::after {
    content: "";
  }

  .foot-left a::before {
    content: "• ";
  }

  .foot-right p {
    margin: 0;
  }

}